{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/css/login.css">
<div class="container">
    <div class="row justify-content-center mb-0">
        <div class="col-5">
            <div class="card mt-lg-5">
                <div class="card-header">
                    <center><h1 class="mb-0">Sign In</h1></center>
                </div>
                <div class="card-body">
                    <form method="post" action="/login">
                        <div class="m-3">
                            <center><input type="text" class="form-control" id="username" name="username" required placeholder="Username"></center>
                        </div>
                        <div class="m-3">
                            <center><input type="password" class="form-control" id="password" name="password" required placeholder="Password"></center>
                        </div>
                        <center><button type="submit" class="btn m-1">Login</button></center>
                    </form>
                    {% if error %}
                    <p class="text-danger">{{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


