.table-alerts th, .table-alerts td {
    text-align: center;
    vertical-align: middle;
}
table {
    table-layout: auto;
    width: auto;
}

td, th {
    white-space: nowrap;
    font-weight: bolder;
    font-size: large;
}
.alert.source {
    font-size: 1.5em;
    font-weight: bold;
}

/* Customize alert level colors */
.alert-level.error {
    color: red;
    font-weight: bolder;
    font-size: large;
}
.alert-level.warning {
    color: yellow;
    font-weight: bolder;
    font-size: large;
    
}
.alert-level.info {
    color: blue;
    font-weight: bolder;
    font-size: large;
}
th.sorted-asc::after {
    content: " ↑";
    color: white;
}

th.sorted-desc::after {
    content: " ↓";
    color: white;
}
#loadMoreBtn {
    display: inline-block;
    margin: 0 auto;
}
.text-center .btn-secondary {
    margin: auto;
    display: inline-block;
}
#Title {
    font-weight: bold;
    color: black;
    text-align: center;
}
.card{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn{
    border-radius: 10px;
    font-weight: bold;
}
.table-responsive{
    overflow-x: auto;
}
.form-select, .form-label, .form-control, option{
    font-weight: bold;
    font-size: large;
}