
.navbar {
    background-color: #212529;
    top: 0;
}
.footer {
    background-color: #212529;
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
}
.footer span {
    font-size: 1.15rem;
}
a { 
    color: white;
    text-decoration:none;
    font-size: 2em;
    font-weight: bold;
}
body {
    overflow-x: hidden; /* Prevent horizontal overflow */
}