[Unit]
Description=Docker Startup Service
After=gpio_setup.service docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/admin/MyDockerProject/scripts/docker_startup.sh
User=admin
Environment=HOME=/home/admin
StandardOutput=append:/home/admin/startup.log
StandardError=append:/home/admin/startup.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
