[Unit]
Description=Startup script for GPIO setup and Docker services
Wants=network-online.target
After=network-online.target
Before=network.target

[Service]
Type=simple
ExecStart=/home/admin/MyDockerProject/scripts/startup.sh
User=admin
StandardOutput=append:$HOME/startup.log
StandardError=append:$HOME/startup.log

[Install]
WantedBy=multi-user.target